@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --side-nav: #fff;
  --text-color: #000;
  --nav-color: #fdfdfd;
  --body-color: #ffffff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
  --header-font: "Poppins", sans-serif;
}

.answer-key-img .ant-image,
.answer-key-img .ant-image img {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: repeating-linear-gradient(
      90deg,
      hsla(196, 0%, 20%, 0.15) 0px,
      hsla(196, 0%, 20%, 0.15) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(196, 0%, 20%, 0.15) 0px,
      hsla(196, 0%, 20%, 0.15) 1px,
      transparent 1px,
      transparent 96px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(196, 0%, 20%, 0.25) 0px,
      hsla(196, 0%, 20%, 0.25) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(196, 0%, 20%, 0.25) 0px,
      hsla(196, 0%, 20%, 0.25) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(24, 25, 26), rgb(24, 25, 26));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

h1 {
  font-weight: 700; /* Example for bold headers */
}

h2 {
  font-weight: 600; /* Slightly lighter weight for subheaders */
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
  border: none; /* Remove border */
  height: 100%;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the gradient */
  color: #fff;
  text-decoration: none;
}

.ant-steps-item-title {
  color: white;
}

.ant-steps.check-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #e7eee0;
  border-color: #25391d;
}

.ant-steps.check-steps
  .ant-steps-item-process
  .ant-steps-item-content
  .ant-steps-item-title {
  color: #e7eee0;
}

.ant-steps.check-steps
  .ant-steps-item-process
  .ant-steps-item-icon
  .ant-steps-icon {
  color: #25391d;
}

.ant-steps.check-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #636661;
}

.ant-steps.check-steps
  .ant-steps-item-wait
  .ant-steps-item-content
  .ant-steps-item-title {
  color: #636661;
}

.ant-steps.check-steps
  .ant-steps-item-wait
  .ant-steps-item-icon
  .ant-steps-icon {
  color: #999e95;
}

.ant-steps.check-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #1c271a;
  border-color: #e7eee0;
}

.ant-steps.check-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  .anticon-check.ant-steps-finish-icon
  svg {
  color: #e7eee0;
  font-size: 16px;
}

.ant-steps.check-steps
  .ant-steps-item-finish
  .ant-steps-item-content
  .ant-steps-item-title {
  color: #4d842e;
}

.ant-steps.check-steps
  .ant-steps-item-finish
  .ant-steps-item-content
  .ant-steps-item-title::after {
  color: #e7eee0;
  background-color: white;
}

.ant-row .ant-image .ant-image-img.check-selected {
  border: 2.5px solid #a3cf81;
}

.ant-upload-wrapper .ant-upload-list .ant-upload {
  border: 1px dashed #e7eee0;
}

.ant-upload-wrapper
  .ant-upload-list-item-container
  .ant-upload-list-item
  .ant-upload-list-item-thumbnail {
  color: #e7eee0;
}

.ant-upload-wrapper
  .ant-upload-list-item-container
  .ant-upload-list-item
  .ant-upload-list-item-name {
  color: #e7eee0;
}

.ant-modal .ant-modal-content .ant-modal-footer .ant-btn {
  background: rgb(24, 25, 26);
  color: #e7eee0;
}

.ant-modal .ant-modal-content .ant-modal-footer .ant-btn:hover {
  border: 1px solid #1c271a;
}

.ant-float-btn.user-manual {
  background: #1c271a;
}
.ant-float-btn.user-manual .ant-float-btn-body {
  background: #1c271a;
}

.ant-float-btn.user-manual
  .ant-float-btn-body
  .ant-float-btn-content
  .ant-float-btn-icon {
  color: #e7eee0;
}

.ant-float-btn.formatted-papers {
  background: #e7eee0;
}
.ant-float-btn.formatted-papersl .ant-float-btn-body {
  background: #1c271a;
}

.ant-float-btn.formatted-papers
  .ant-float-btn-body
  .ant-float-btn-content
  .ant-float-btn-icon {
  color: #1c271a;
}

.ant-layout-header {
  background: #1c271a;
}

.ant-layout-header .ant-menu-overflow {
  background: #1c271a;
}

.ant-layout-header .ant-menu-overflow-item .ant-menu-title-content {
  color: #e7eee0;
  font-family: var(--header-font);
  font-size: 16px;
}

.ant-layout-header
  .ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  color: #e7eee0;
  background: #1c271a;
  font-family: var(--header-font);
  font-size: 16px;
}
.ant-layout-header
  .ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child:hover {
  color: #e7eee0;
  background: #4d842e;
  font-family: var(--header-font);
  font-size: 16px;
}

.ant-layout-content .step-btn .ant-btn {
  background: #1c271a;
  color: #e7eee0;
}

.ant-layout-content .step-btn .ant-btn:hover {
  background: #4d842e;
}

.ant-layout-content .step-btn .ant-btn.ant-btn-default {
  border: 1px solid #e7eee0;
}

.ant-layout-content .step-btn .ant-btn.ant-btn-default:hover {
  background: #4d842e;
  border: 1px solid #e7eee0;
  color: #e7eee0;
}
